<!DOCTYPE html>
<html lang="en">
	<head>
		<title>{% block title %}Blog{% endblock %}</title>
		<link rel="stylesheet" type="text/css" href="/static/style.css" />
	</head>
	<body>
		<div id="nav">
			<h1>Blog software</h1>
			<h2>Sub title</h2>
			<ul>
				<li><a href="#" title="">Somewhere</a></li>
				<li><a href="#" title="">Somewhere</a></li>
				<li><a href="#" title="">Somewhere</a></li>
				<li><a href="#" title="">Somewhere</a></li>
				<li><a href="#" title="">Somewhere</a></li>
			</ul>
		</div>
		<div id="content">
		{% block content %}
		{% endblock %}
		</div>
	</body>
</html> 
