{% extends 'base.html' %}
{% block title %}List all posts{% endblock %}
{% block content %}
	{% for post in posts %}
	<div class="blog_post">
		<h2><a href="/post/{{ post.slug }}/" title="{{ post.title }}">{{ post.title }}</a></h2>
		<h3>Posted on {{ post.post_date }} by Jonny</h3>
		<p>{{ post.markdown|truncatewords_html:50 }}</p>
		<p class="read_more"><a href="/post/{{ post.slug }}/" title="{{ post.title }}">Read more...</a></p>
	</div>
	{% endfor %}
    <p>Page {{ posts.number }} of {{ posts.paginator.num_pages }}</p>
    <p>
    {% if posts.has_previous %}
        <a href="/list/{{ posts.previous_page_number }}" name="Previous page">« Previous</a>
    {% endif %}
    &nbsp;
    {% if posts.has_next %}
        <a href="/list/{{ posts.next_page_number }}" name="Next page">Next »</a>
    {% endif %}
    </p>
{% endblock %}
