{% extends 'base.html' %}
{% block title %}{{ post.title }}{% endblock %}
{% block content %}
<div id="content">
	<h1>{{ post.title }}</h1>
	<div id="post_content">
        {% autoescape off %}
		{{ post.markdown }}
        {% endautoescape %}
	</div>
    {% if previous_post %}
    <p><a href="/post/{{ previous_post.slug }}/" title="{{ previous_post.title }}">« {{ previous_post.title }}</a></p>
    {% endif %}
    {% if next_post %}
    <p><a href="/post/{{ next_post.slug }}/" title="{{ next_post.title }}">{{ next_post.title }} »</a></p>
    {% endif %}
</div>
{% endblock %}
